/* Global settings*/

*{
    all: unset;
    font-family: feather;
    // font-family: JetBrainsMono; // the Arch font package
    font-family: JetBrainsMonoNF; // the Arch font package
}

.genwin {
    background-color: #3e4452;
    border-radius: 28px;
}

.brightnessIcon {
    color:  #c678dd;
    font-size:  28px;
}

.brightnessBar scale trough {
    all: unset;
    background-color:  #282c34;
    border-radius:  16px;
    min-height:  28px;
    min-width:  240px;
}

.brightnessBar scale trough highlight {
    all: unset;
    border-radius:  16px;
    background-color:  #c678dd;
}

.volumeIcon {
    color:  #e4bf7a;
    font-size:  28px;
}

.volumeBar scale trough {
    all: unset;
    background-color:  #282c34;
    border-radius:  16px;
    min-height:  28px;
    min-width:  240px;
}

.volumeBar scale trough highlight {
    all: unset;
    border-radius:  16px;
    background-color:  #e4bf7a;
}
.volSlider scale trough highlight {
    all: unset;
    background-color: #e4bf7a;
    // color: #000000;
    border-radius: 50px;
}

.volSlider scale trough {
    all: unset;
    background-color: #282c34;
    border-radius: 50px;
    min-height: 28px;
    min-width: 200px;
    margin-left: -50px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.volSliderIcon {
    color: #e4bf7a;
    background-color: transparent;
    font-size: 28px;
}


.briSlider scale trough highlight {
    all: unset;
    background-color: #c678dd;
    // color: #000000;
    border-radius: 50px;
}

.briSlider scale trough {
    all: unset;
    background-color: #282c34;
    border-radius: 50px;
    min-height: 28px;
    min-width: 200px;
    margin-left: -50px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.briSliderIcon {
    color: #c678dd;
    background-color: transparent;
    font-size: 28px;
}
