[submodule "hosts/common/programs/shells/fish/fish_config"]
	path = hosts/common/programs/shells/fish/fish_config
	url = https://github.com/zstg/stratos-fish-config
[submodule "hosts/CosmOS-Hyprland/programs/hyprland/hyprland_config"]
	path = hosts/CosmOS-Hyprland/programs/hyprland/hyprland_config
	url = https://github.com/StratOS-Linux/stratos-hyprland-config
[submodule "hosts/common/programs/term/kitty/kitty_config"]
	path = hosts/common/programs/term/kitty/kitty_config
	url = https://github.com/StratOS-Linux/stratos-kitty-config
[submodule "hosts/WM-spins/programs/swaync/swaync_config"]
	path = hosts/WM-spins/programs/swaync/swaync_config
	url = https://github.com/StratOS-Linux/stratos-swaync-config
[submodule "hosts/WM-spins/programs/waybar/waybar_config"]
	path = hosts/WM-spins/programs/waybar/waybar_config
	url = https://github.com/StratOS-Linux/stratos-waybar-config
[submodule "hosts/common/programs/starship/starship_config"]
	path = hosts/common/programs/starship/starship_config
	url = https://github.com/StratOS-Linux/stratos-starship-config
[submodule "hosts/WM-spins/programs/eww/eww_config"]
	path = hosts/WM-spins/programs/eww/eww_config
	url = https://github.com/stratos-linux/stratos-eww-config
[submodule "hosts/WM-spins/programs/mako/mako_config"]
	path = hosts/WM-spins/programs/mako/mako_config
	url = https://github.com/StratOS-Linux/StratOS-mako-config
[submodule "hosts/CosmOS-Niri/programs/niri/niri_config"]
	path = hosts/CosmOS-Niri/programs/niri/niri_config
	url = https://github.com/StratOS-Linux/StratOS-niri-config
